@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>



<div class="row">
    <div class="col-2">
        <vc:teams></vc:teams>
    </div>
    <div class="col-10">
        <h1>
            @ViewBag.header Bowlers:
        </h1>
        <table class="table table-bordered table-striped" style="font-size:.9rem;">

            <thead class="font-weight-bold">
                <tr>
                    <td>First Name</td>
                    <td style="width:50px;">Middle Initial</td>
                    <td>Last Name</td>
                    <td>Address</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zip Code</td>
                    <td>Phone Number</td>
                    <td colspan="2"><a class="btn btn-primary" asp-controller="Home" asp-action="AddBowler">New Bowler</a></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>@b.BowlerFirstName</td>
                        <td>@b.BowlerMiddleInit</td>
                        <td>@b.BowlerLastName</td>
                        <td>@b.BowlerAddress</td>
                        <td>@b.BowlerCity</td>
                        <td>@b.BowlerState</td>
                        <td>@b.BowlerZip</td>
                        <td>@b.BowlerPhoneNumber</td>
                        @*<td>@b.Team.TeamName</td>*@

                        <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-2">
        
    </div>
    <div class="col-10">

    </div>

</div>

